@import "../../colours.scss";


.device-selector {

  display: inline-block;

  .popup {
    z-index: 2;
    position: absolute;
    bottom: 0;
    background: #00A000;
    border: 1px solid black;

  }


  .device {
    display: block;
    cursor: pointer;
    white-space: nowrap;
  }

  .active {
    font-weight: bold;
  }



}
