@import "../../colours.scss";


.device-selector {

  display: inline-block;

  .popup-handle {
    cursor: pointer;
  }

  .popup {

    z-index: 2;
    position: absolute;
    left: 2rem;
    bottom: 4rem;
    background: #eee;
    //border: 1px solid #ddd;

    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, .25);
    padding: 1rem;
  }


  .device {
    display: block;
    cursor: pointer;
    white-space: nowrap;
  }

  .active {
    font-weight: bold;
  }



}
