@import "../../colours.scss";
@import "../../mixins.scss";


.footer {
  background: $silver;
  color: #555;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;

  .atr {
    font-family: "Menlo", "Lucida Console", monospace;
  }

}
