@import "../../colours.scss";
@import "../../mixins.scss";

.no-content {
  @extend .stripes;
}

.content {
  background: $white;
  overflow-y: auto;
  white-space: pre;
  padding: 1rem;
}

.content-title {
  @extend .truncate;
  @extend .shadow;

  z-index: 1;
  font-weight: bold;
  padding: 1rem;
  background: $blue;
  color: #fff;
}

