@import "../../colours.scss";
@import "../../mixins.scss";


.command-response {

  padding: .5rem 1rem;
  border-top: 1px solid #ddd;
  @extend .truncate;

  &:first-child {
    border-top: none;
  }
}

.command {

}
.response {

  &.ok {
    color: $nephritis;
  }
  &.error {
    color: $alizarin;
  }

  .meaning {
    margin-left: 1rem;
    color: #333;
  }
}