@import "../../colours.scss";

.commands {
  //width: 14rem;
  background: $white;
  font-family: "Menlo", "Lucida Console", monospace;
  padding: 1rem;
}

.aids {
  font-family: "Menlo", "Lucida Console", monospace;
}

.aid {

}