@import "../../colours.scss";
@import "../../mixins.scss";


.console-entry {

  padding: .5rem 1rem;
  border-top: 1px solid #ddd;
  margin-top: -1px;

  @extend .truncate;

  &:first-child {
    border-top: none;
  }

  border-left: .5rem solid transparent;

  &.ok {
    border-left: .5rem solid $nephritis;
  }

  &.error {
    border-left: .5rem solid $alizarin;
  }
}
