@import "../../colours.scss";
@import "../../mixins.scss";


.console-entry {

  padding: .5rem 1rem;
  border-top: 1px solid #ddd;

  @extend .truncate;

  &:first-child {
    border-top: none;
  }
}
