
.cell {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  vertical-align: top;
}

.tlv {
  margin-left: 2rem;
}

.tag {
  display: inline-block;
  //background: #999;

  .tag-value {
    color: #666;
    margin-right: 1rem;
  }

  .description {
    color: #000;
    margin-right: 1rem;
  }

}
.length {
  display: inline-block;
  background: #aaa;
  color: #333;
}
.value {
  display: inline-block;
}
.ascii {
  background: #eee;
  color: #000;
  margin-right: 1rem;
}
.hex {
  background: #eee;
  color: #000;
  margin-right: 1rem;
}