

.TreePane {
  font-family: "Menlo", "Lucida Console", monospace;

  //background: #fafafa;
  margin: .5rem 0;
  //padding: 1rem;
  display: inline-block;
  //border: 1px solid #ccc;
}

.Node {
  margin: 0 1rem;
}

.toggle {
  cursor: pointer;
}

.toggle:hover {
  text-decoration: underline;
}

.expand::after,
.collapse::after {
  color: #333;
  font-size: .5rem;
  margin-left: 0.5rem;
  display: inline-block;
}

.collapse::after {
  content: "▼";
  content: "▽";
}

.expand::after {
  content: "▶";
  content: "▷";
}

/*.expand::before,
.collapse::before {
    color: #333;
    /!*background: #eee;*!/
    text-align: center;
    width: 1rem;
    margin-right: 0.5rem;
    display: inline-block;
}
.collapse::before {
    content: "⊟";
    content: "⊖";
    content: "-";
}
.expand::before {
    content: "⊞";
    content: "⊕";
    content: "+";
}*/