@import "../../colours.scss";
@import "../../mixins.scss";


.status-bar {

  background: $silver;
  color: #555;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;

  font-family: "Menlo", "Lucida Console", monospace;


  .atr {
    @extend .truncate;
    display: inline-block;
    margin-right: 1rem;
    &:hover {
      color: #333;
    }
  }

  .device-name {
    @extend .truncate;
    display: inline-block;
    margin-right: 1rem;
    &:hover {
      color: #333;
    }
  }
}
