@import "../../colours.scss";
@import "../../mixins.scss";

.console {

  .sidebar-control {

    background: #eee;
    padding: 1rem 1rem;
    text-align: right;
    z-index: 2;

    .button {
      font-size: 1.2rem;
      padding: .5rem .75rem;
      display: block;
      margin-bottom: .5rem;
    }

  }

  .commands {
    background: #fafafa;
    font-family: "Menlo", "Lucida Console", monospace;
  }

  textarea {
    flex: 1;
    border: 0;
    outline: none;
    padding: .5rem 1rem;
    font-family: "Menlo", "Lucida Console", monospace;
  }


  .card-inserted {

    //border-bottom: 1px solid #ddd;

    //border-left: 1px solid #ddd;

    border-top: 1px solid #ddd;
    border-left: 1px solid transparent;
    margin-top: -1px;

    @extend .truncate;

    &:first-child {
      border-top: none;
    }
    &:hover {
      border-left-color: #ddd;
    }


    .device {
      background: #fafafa;
      display: block;
      padding: 1rem;
    }

    .atr {
      display: block;
      padding: 1rem;

      &:before {
        content: "Answer to reset:";
        padding-right: .5rem;
      }
    }


  }
}
