@import "../../colours.scss";
@import "../../mixins.scss";


.commands-control {
  background: #eee;
  // border-bottom: 1px solid #aaa;
  padding: .5rem 1rem;
  text-align: right;
  z-index: 2;
  /*@extend .shadow;*/
}

.commands {
  //width: 14rem;
  background: $white;
  font-family: "Menlo", "Lucida Console", monospace;
  overflow-y: auto;
  z-index: 1;
}

textarea {
  flex: 1;
  border: 0;
  outline: none;
  padding: .5rem 1rem;
  font-family: "Menlo", "Lucida Console", monospace;
}

.aids {
  font-family: "Menlo", "Lucida Console", monospace;
}

.aid {

}