@import "../../colours.scss";
@import "../../mixins.scss";


.response {

  &.ok {
    color: $nephritis;
  }
  &.error {
    color: $alizarin;
  }

  .tlv-wrapper {
    margin-left: -2rem;
  }

  .meaning {
    margin-left: 1rem;
    color: #333;
  }
}