
*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

body, html, #root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  height: 100%;
  min-height: 100%;
}
