
.cell {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  vertical-align: top;
}

.tlv {
  margin-left: .5rem;
}

.tag {
  display: inline-block;
  background: #999;
  color: #000;
}
.length {
  display: inline-block;
  background: #aaa;
  color: #333;
}
.value {
  display: inline-block;
  background: #ccc;
  color: #000;
}
.empty-cell {
  display: inline-block;
  width: 2rem;
}
